body{
    background-image: url(/img/tweed.png);
}

h1 {
  font-size: 200%; 
  border-bottom: 2px solid rgb(70, 69, 69); 
  font-weight: normal; 
  padding-bottom: 5px; 
  padding-left: 20px;
}

ul {
  text-align: center;
	list-style: none;
	padding: 0; 
  margin: 0 auto;
  height: 40px; 
  border-right: 1px solid grey;
}
  
a {
  text-decoration: none; 
  color:black; 
  padding:0px 15px; 
  font-family: arial; 
  display: block;
  line-height:40px; 
  border-left: 1px solid grey;
  -moz-transition: all 0.3s 0.01s ease; 
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

a:hover {
  background: grey;
  color: white;
  text-decoration: none; 
}

a:active {
  background: black;
  color: white;
}

li{
  display: inline-block;
}

#content {
  margin: 40px;
  background: rgb(228, 228, 227); 
  box-shadow: 0 0 30px rgba(0,0,0,0.5); 
  padding: 30px;
}

table{
  padding-top: 15px;
  text-align: center;
}

td{
  border: 3px solid grey;
}

th{
  border: 2px solid black;
  background-color: grey;
}

select, input{
  text-align: center;
  font-size: 18px;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 360px; 
  max-width: 1000px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#endDate{
  margin-left: 10px;
}

#mainPage{
  display: block;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  opacity: 0.7;
}

.spinner__img {
  width: 200px;
  height: 200px;
}

#choiseCur{
  max-width: 400px;
}

input{
  max-width: 220px;
}

.form-control{
  display: inline;
}

table{
  max-width: 800px;
}

.foo{
  display: none;
}